
body{
  height: 100%;
  font-family: 'Abel', sans-serif;
  
 }
 .wrapper{
     display: flex;
     width: 100%;
   height: 250px;
    background-color: #ea2027 ;
 }

 .fa{
    text-decoration: none;
    color: white;
    padding-top: 30px;
    height: 30px;
    width: 30px;
}
.copyright{
    padding-bottom: 10px;
}
.onama{
    position: fixed;
   bottom: 0;
}
.o-nama{
    padding-left: 50px;
    width: 500px;
    height: 100px;
    color: white;
}
.svg2{
    padding-left: 100px;
}
p{
    
    height: 300px;
}
h1{
    font-size: 50px;
}
.slogan{
    width: 700px;
    font-size: 100px;
    color: white;
    padding-right: 20px;
    background-color: #ea2027;
}
body{
    height: 500px;
 }
#slider{
    width: 100%;
    overflow: hidden;
    margin: 0;
   
    
}

#slider figure{
    position: relative;
    width: 500%;
  
    margin: 0;
    left: 0;
   animation: 20s slider infinite ;
}

#slider figure img{
    height: 700px;
    width: 20%;
    float: left;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
 

